In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data_sets=pd.read_csv('creditcard.csv  ')

In [3]:
data_sets.shape

(284807, 31)

In [4]:
data_sets.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
data_sets.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
data_sets['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [7]:
#under sampling bcoz variation is too much high between classes
legit=data_sets[data_sets.Class==0]
fraud=data_sets[data_sets.Class==1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
#random sampling
Legit_sample=legit.sample(n=492)

In [9]:
#concatenating two dataframes
new_dataset=pd.concat([Legit_sample,fraud],axis=0)

In [10]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42088,40952.0,1.197044,-0.042193,0.531823,0.600644,-0.595569,-0.596424,-0.193877,-0.089134,0.364887,...,0.002979,-0.046011,-0.074067,0.061933,0.362996,0.365931,-0.024848,0.021900,39.95,0
40792,40399.0,-8.093307,3.299918,-1.077625,-1.019268,-1.620000,-0.485747,0.366056,0.271839,4.804250,...,-1.241929,0.210208,0.236119,0.590725,0.956861,0.125127,-0.875091,-0.864899,48.15,0
116666,74381.0,-1.520108,1.083807,-0.715070,-2.381593,1.687947,3.077204,-0.696991,1.730756,-0.340145,...,-0.016180,-0.528390,-0.019664,1.036826,-0.167066,0.711721,-0.258097,0.030677,7.75,0
53172,45848.0,1.537513,-1.044679,-0.710111,-1.894320,-0.229089,0.474272,-0.752725,0.068866,-2.184176,...,-0.561500,-1.362224,-0.028741,-1.799079,0.389129,-0.361927,0.006896,-0.012188,34.94,0
42396,41088.0,0.911781,-0.774959,-1.719233,-0.322833,2.000356,3.325187,-0.053315,0.679434,0.014287,...,0.011056,-0.460945,-0.336746,1.076030,0.742063,0.546704,-0.091829,0.032190,221.00,0

In [11]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [14]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [16]:
model=LogisticRegression()
model.fit(X_train,Y_train)
#model evaluation
#accuracy score
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.9415501905972046

C:\Users\hpriy\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print('Accuracy on test data : ',test_data_accuracy)

Accuracy on test data :  0.9187817258883249

In [22]:
input_data = (
    0,  # Time (example)
    -1.3598071336738, -0.0727811733098497, 2.53634673796914,
    1.37815522427443, -0.338320769942518, 0.462387777762292,
    0.239598554061257, 0.0986979012610507, 0.363786969611213,
    0.0907941719789316, -0.551599533260813, -0.617800855762348,
    -0.991389847235408, -0.311169353699879, 1.46817697209427,
    -0.470400525259478, 0.207971241929242, 0.0257905801985591,
    0.403992960255733, 0.251412098239705, -0.018306777944153,
    0.277837575558899, -0.110473910188767, 0.0669280749146731,
    0.128539358273528,0, -0.189114843888824, 0.133558376740387,
    149.62
)


input_data = np.asarray(input_data).reshape(1, -1)

prediction = model.predict(input_data)

if prediction[0] == 0:
    print("Legitimate Transaction")
else:
    print("Fraudulent Transaction")

Legitimate Transaction

C:\Users\hpriy\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(